<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Dosen</title>
</head>
<body>
<form th:action="@{~/dosen/update}" method="post">
    <input type="hidden" id="id" name="id" th:value="${dosen.id}">

    <label>Nip :</label><br>
    <input type="text" id="nip" name="nip" th:value="${dosen.nip}" placeholder="Enter Nip"><br>

    <label>Name :</label><br>
    <input type="text" id="name" name="name" th:value="${dosen.name}" placeholder="Enter name"><br>

    <label>Jenis Kelamin :</label><br>
    <select name="jk">
        <option value="">Pilih Gender</option>
        <option value="Pria">Pria</option>
        <option value="Wanita">Wanita</option>
    </select><br>

    <label>Alamat :</label><br>
    <input type="text" id="alamat" name="alamat" th:value="${dosen.alamat}" placeholder="Enter alamat"><br>

    <label>Gelar :</label><br>
    <input type="text" id="gelar" name="gelar" th:value="${dosen.gelar}" placeholder="Enter gelar"><br>

    <button type="submit">Save</button>
    <a th:href="@{~/dosen}">Back</a>


</form>

</body>
</html>