<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Fakultas</title>
</head>
<body>
<form th:action="@{~/fakultas/save}" method="post">
    <label>Code :</label><br>
    <input type="text" name="code" th:value="${fakultas.code}" placeholder="Enter Code"><br>

    <label>Name :</label><br>
    <input type="text" name="name" th:value="${fakultas.name}" placeholder="Enter name"><br>


    <a th:href="@{~/fakultas}">Back</a>
</form>

</body>
</html>