<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{~/siswa/save}" method="post">
  <label>Id</label><br>
  <input type="text" name="id" id="id"><br/>

  <label>Name</label><br>
  <input type="text" name="name" id="name"><br/>

  <label>Usia</label><br>
  <input type="text" name="usia" id="usia"><br/>

  <label>TempatKuliah</label><br>
  <input type="text" name="tempatKuliah" id="tempatKuliah"><br/>

  <label>Jurusan</label><br>
  <input type="text" name="jurusan" id="jurusan"><br/>

  <label>TinggiBadan</label><br>
  <input type="text" name="tinggiBadan" id="tinggiBadan"><br/>

  <label>JenisKulit</label><br>
  <input type="text" name="jenisKulit" id="jenisKulit"><br/>

  <label>JenisKelamin</label><br>
  <input type="text" name="jenisKelamin" id="jenisKelamin"><br/>

  <label>Alamat</label><br>
  <input type="text" name="alamat" id="alamat"><br/>

  <button type="submit">Simpan</button>
</form>

</body>
</html>