<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<form th:action="@{~/motor/update}" method="post">
    <label>Id</label><br>
    <input type="text" id="id" name="id" th:value="${motor.id}"><br>

    <label>Name</label><br>
    <input type="text" id="name" name="name" th:value="${motor.name}"><br>

    <label>Jenis</label><br>
    <input type="text" id="jenis" name="jenis" th:value="${motor.jenis}"><br>

    <label>Bahan Bakar</label><br>
    <input type="text" id="bahanBakar" name="BahanBkar" th:value="${motor.bahanBakar}"><br>

    <label>Plat Nomor</label><br>
    <input type="text" id="platNomor" name="platNomor" th:value="${motor.platNomor}"><br>

    <label>Harga</label><br>
    <input type="text" id="harga" name="harga" th:value="${motor.harga}"><br>
</form>
</body>
</html>