<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistem Akademik Kampus</title>
</head>
<body>
        <h2>SISTEM AKADEMIK KAMPUS</h2>
        <p>WELCOME TO SIAKAD</P>
        <ul>
            <li>
                <a th:href="@{~/fakultas}">Fakultas</a>
            </li>
            <li>
                <a th:href="@{~/jurusan}">Jurusan</a>
            </li>
            <li>
                <a th:href="@{~/gedung}">Gedung</a>
            </li>
            <li>
                <a th:href="@{~/ruang}">Ruang</a>
            </li>
            <li>
                <a th:href="@{~/mahasiswa}">Mahasiswa</a>
            </li>
            <li>
                <a th:href="@{~/dosen}">Dosen</a>
            </li>
            <li>
                <a th:href="@{~/kelas}">Kelas</a>
            </li>
            <li>
                <a th:href="@{~/matakuliah}">Mata Kuliah</a>
            </li>
            <li>
                <a th:href="@{~/kelasdetail}">Kelas Detail</a>
            </li>
        </ul>
</body>
</html>