<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>HTML TABLE</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contack</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Es teh</td>
    <td>Minuman</td>
    <td>Enak sekali dan segar</td>
  </tr>
  <tr>
    <td>Island Trending</td>
    <td>Helen Benned</td>
    <td>Canada</td>
  </tr>
</table>
<style>
  th,td{
    border: 1px solid black;
  }
</style>
<table style="width: 100%">
  <tr>
    <th>Company</th>
    <th>Contack</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
</body>
</html>

<html lang="en">
  <style>
    th,td{
      border-style: solid;
      border-color: firebrick;
    }
  </style>
<body>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Sabilla</td>
    <td>Muhammad</td>
    <td>20 tahun</td>
  </tr>
  <tr>
    <td>Sindi</td>
    <td>Sevianti</td>
    <td>20 Tahun</td>
  </tr>
</table>
</body>
</html>