<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:action="@{~/kopi/save}" method="post">

    <label>Id</label><br>
    <input type="text" name="id" id="id" th:value="${kopi.id}"><br/>

    <label>Kode</label><br>
    <input type="text" name="kode" id="kode" th:value="${kopi.kode}"><br/>

    <label>NameKopi</label><br>
    <input type="text" name="nameKopi" id="nameKopi" th:value="${kopi.nameKopi}"><br/>

    <label>Diproduksi</label><br>
    <input type="text" name="diproduksi" id="diproduksi" th:value="${kopi.diproduksi}"><br/>

    <label>deskripsi</label><br>
    <textarea type="text" name="deskripsi" id="deskripsi" rows="5" cols="20" th:text="${kopi.deskripsi}"></textarea><br/>

    <label>Harga</label><br>
    <input type="text" name="harga" id="harga" th:value="${kopi.harga}"><br/>

    <label>Stock</label><br>
    <input type="text" name="stock" id="stock" th:value="${kopi.stock}"><br/>


</form>

</body>
</html>