<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Width and Height Attribute</h2>
<p style="color: blue">Sabilla Muhammad Rayhan</p>

<img th:src="@{~/img/img_girl.jpg}" width="500" height="600">

<h1>About Windows</h1>
<p title="About W3schools">You cannot omit quotes</p>
<p><b>If you move the mouse over the paragraph above,</b></p>

<p>John with double quotes</p>

<h1>Heading 1</h1>
<p>This is some text</p><hr>

<h2>Heading 2</h2>
<p>This is some other text</p><hr>

<h3>Heading 3</h3>
<p>Sabilla Muhammad Rayhan</p><hr>

<h4>Heading 4</h4>
<p>Sabilla<br>Muhammad<br/>Rayhan</p>

<h5>Heading 5</h5>

<p>Dusun Jedung</p>
<pre>
    Desa sebani
    Kecamatan Pandaan
    Kabupaten pasruan
</pre>

</body>
</html>