<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This text is normal</p>
<p><b>This text is bold</b></p>

<p>This text is normal</p>
<p>pcs<strong>This text is important</strong>oke</p>

<p><i>This is not found</i></p>

<p><em>This is icon men</em></p>

<p><small>This is some normal text</small></p>

<p>Do not today oke<del>MIlK</del><ins>RED</ins>today</p>

<p>This is <sub>Subribe</sub> text</p>

<P>this is <sup>Sucribe</sup> text</P>

</body>
</html>