<!DOCTYPE html>
<html lang="en">

<body style="background-color: wheat">

<h1 style="background-color: sandybrown">Kecamatan pandaan</h1>
<p style="background-color: aqua">Kabupaten pandaan</p>

<h1 style="color: darkslategray">Kota Surabaya</h1>
<p style="color: yellow">Kemulan</p>

<h1 style="font-family:Verdana;">Okelah sangat baik</h1>
<p style="font-family: courier;">Bagus</p>

<h1 style="font-size: 400%">Dusun ciparakan</h1>
<p style="font-size: 200%">Desan sukahurip</p>

<h1 style="text-align: center">Adel Pratama</h1>
<p style="text-align: center">Anak pekalongan jawa tengah</p>

</body>
</html>