<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{~/handphone/save}" method="post">
    <label>Id</label><br>
    <input type="text" id="id" name="id"><br>

    <label>Code</label><br>
    <input type="text" id="code" name="code"><br>

    <label>Name</label><br>
    <input type="text" id="name" name="name"><br>

    <label>Batrai</label><br>
    <input type="text" id="batrai" name="batrai"><br>

    <label>Ram</label><br>
    <input type="text" id="ram" name="ram"><br>

    <label>Harga</label><br>
    <input type="text" id="harga" name="harga"><br>

    <button type="submit">Simpan</button>
</form>
</body>
</html>