<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf.layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Detail Laptop</li>
    </ol>
  </div>
</div>
<div class="row" layout:fragment="content">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Detail Laptop</h3>
      </div>
      <form th:action="@{~/leptop/save}" method="post">
        <div class="card-body">

          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" name="id" id="id" th:value="${leptop.id}">
          </div>

          <div class="form-group">
            <label for="kode">Kode</label>
            <input type="text" class="form-control" name="kode" id="kode" th:value="${leptop.kode}">
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${leptop.name}">
          </div>

          <div class="form-group">
            <label for="prosesor">Prosesor</label>
            <input type="text" class="form-control" name="prosesor" id="prosesor" th:value="${leptop.prosesor}">
          </div>

          <div class="form-group">
            <label for="storage">storage</label>
            <input type="text" class="form-control" name="storage" id="storage" th:value="${leptop.storage}">
          </div>

          <div class="form-group">
            <label for="os">Os</label>
            <input type="text" class="form-control" name="os" id="os" th:value="${leptop.os}">
          </div>

          <div class="form-group">
            <label for="layar">Layar</label>
            <input type="text" class="form-control" name="layar" id="layar" th:value="${leptop.layar}">
          </div>

          <div class="form-group">
            <label for="dimensi">Dimensi</label>
            <input type="text" class="form-control" name="dimensi" id="dimensi" th:value="${leptop.dimensi}">
          </div>

          <div class="form-group">
            <label for="warna">Warna</label>
            <input type="text" class="form-control" name="warna" id="warna" th:value="${leptop.warna}">
          </div>

          <div class="form-group">
            <label for="tahunRilis">TahunRilis</label>
            <input type="text" class="form-control" name="tahunRilis" id="tahunRilis" th:value="${leptop.tahunRilis}">
          </div>

          <div class="form-group">
            <label for="harga">Harga</label>
            <input type="text" class="form-control" name="harga" id="harga" th:value="${leptop.harga}">
          </div>

          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" name="stock" id="stock" th:value="${leptop.stock}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>