<!DOCTYPE html>
<html lang="en">
<body>
<h2>HTML formulir</h2>

<form action="oke" target="_blank" method="post">
  <label for="fname">Fist Name</label><br>
  <input type="text" id="fname" name="fname" value="sabil"><br>

  <label for="lname">Last Name</label><br>
  <input type="text" id="lname" name="lname" value="sindi"><br>

  <input type="submit" value="Simpan">
</form>

<form>
  <input type="radio" id="html" name="css" value="HTML">
  <label for="html">HTML</label><br>

  <input type="radio" id="css" name="css" value="CSS">
  <label for="css">CSS</label><br>

  <input type="radio" id="javascript" name="javascript" value="JavaScript">
  <label for="javascript">Java Script</label><br>
</form>

<form>
  <input type="checkbox" id="sepeda" name="sepeda" value="SEPEDA">
  <label for="sepeda">SEPEDA</label><br>

  <input type="checkbox" id="mobil" name="Mobil" value="MOBIL">
  <label for="mobil">MOBIL</label><br>

  <input type="checkbox" id="perahu" name="perahu" value="PERAHU">
  <label for="perahu">PERAHU</label><br>
</form>

<form action="oke" autocomplete="on">
  <label for="name">First Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br><br>
  <input type="submit">
</form>

<form action="oke" novalidate>
  <label for="emaill">Enter your email</label>
  <input type="email" id="emaill" name="emaill"><br><br>
  <input type="submit">

</form>
</body>
</html>