<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Detail Mobil</h1>
<form th:action="@{~/mobil/save}" method="post">

  <label>ID</label>
  <input type="text" name="id" id="id" th:value="${mobil.id}"><br/>

  <label>Kode</label>
  <input type="text" name="kode" id="kode" th:value="${mobil.kode}"><br/>

  <label>Name</label>
  <input type="text" name="name" id="name" th:value="${mobil.name}"><br/>

  <label>Merk</label>
  <input type="text" name="merk" id="merk" th:value="${mobil.merk}"><br/>

  <label>PlatNomor</label>
  <input type="text" name="platNomor" id="platNomor" th:value="${mobil.platNomor}"><br/>

  <label>BahanBakar</label>
  <input type="text" name="bahanBakar" id="bahanBakar" th:value="${mobil.bahanBakar}"><br/>

  <label>Cc</label>
  <input type="text" name="cc" id="cc" th:value="${mobil.cc}"><br/>

  <label>Warna</label>
  <input type="text" name="warna" id="warna" th:value="${mobil.warna}"><br/>

  <label>Tipe</label>
  <input type="text" name="tipe" id="tipe" th:value="${mobil.tipe}"><br/>

  <label>Harga</label>
  <input type="text" name="harga" id="harga" th:value="${mobil.harga}"><br/>

  <label>Stock</label>
  <input type="text" name="stock" id="stock" th:value="${mobil.stock}"><br/>

</form>

</body>
</html>