<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:style="'background: url(/img/img_waktu_kepantai.jpeg) repeat;'">
<pre>
<code>
    x = 6;
    y = 5;
    z = x + y;
</code>
</pre>
<p>Save the document by presing <kbd>Ctrl + s</kbd></p>

<p>Masage form my computer:</p>

<p><samp>File not found.<br>Press f1 one continue</samp></p>

<p>The area of in triangle is : 12 x <var>b</var><var> x </var><var>h</var>, where <var>b</var> is the base, end <var>h</var> Is the vertikal height.</p>

<p style="font-size: 45px">&#128512; &#128516; &#128525; &#128151; &#128511; &#128501;</p>
</body>
</html>