<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Motor</h1>
<form th:action="@{~/motor/save}" method="post">
    <label>Id</label>
    <input type="text" name="id" id="id"><br/>

    <label>Kode</label>
    <input type="text" name="kode" id="kode"><br/>

    <label>Name</label>
    <input type="text" name="name" id="name"><br/>

    <label>Merk</label>
    <input type="text" name="merk" id="merk"><br/>

    <label>PlatNomor</label>
    <input type="text" name="platNomor" id="platNomor"><br/>

    <label>BahanBakar</label>
    <input type="text" name="bahanBakar" id="bahanBakar"><br/>

    <label>Cc</label>
    <input type="text" name="cc" id="cc"><br/>

    <label>Warna</label>
    <input type="text" name="warna" id="warna"><br/>

    <label>Harga</label>
    <input type="text" name="harga" id="harga"><br/>

    <label>Stock</label>
    <input type="text" name="stock" id="stock"><br/>

    <button type="submit">Simpan </button>

</form>
</body>
</html>