<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Product - Index</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">INDEX PRODUCT</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Product</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title">Product</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="table-search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn-default"><i class="fas fa-search"></i>
                        </button>
                            <a th:href="@{~/product/add}" id="btn-add" class="btn btn-primary"><i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

       <div class="card-body">
           <table id="table-data" class="table">
               <thead>
               <tr>
                   <th>Id</th>
                   <th>Kode</th>
                   <th>Nama</th>
                   <th>Kategory</th>
                   <th>Keterangan</th>
                   <th>Harga</th>
                   <th>Stock</th>
               </tr>
               </thead>
               <tbody>
               <!-- data yang akan di looping -->
               <tr th:each="product :${listProduct}">
                   <td th:text="${product.id}"></td>
                   <td th:text="${product.code}"></td>
                   <td th:text="${product.name}"></td>
                   <td th:text="${product.description}"></td>
                   <td th:text="${product.category}"></td>
                   <td>Rp. <strong th:text="${product.price}"></strong></td>
                   <td><strong th:text="${product.stock}"></strong>pcs</td>
                   <td>
                       <a th:href="@{~/product/edit/{id}(id=${product.id})}" class="btn btn-xs btn-warning btn-edit">
                           <i class="fas fa-edit"></i>
                       </a>
                       <a th:href="@{~/product/delete/{id}(id=${product.id})}" class="btn btn-xs btn-danger btn-delete">
                           <i class="fas fa-trash"></i>
                       </a>
                       <a th:href="@{~/product/detail/{id}(id=${product.id})}" class="btn btn-xs btn-success btn-detail">
                           <i class="fas fa-eye"></i>
                       </a>
                   </td>
               </tr>
               <tr>
                   <td colspan="6"> jumlah Data</td>
                   <td><strong th:text="${jumlahData}"></strong>Item</td>
               </tr>
               </tbody>
           </table>
       </div>
            </div>
        </div>
    </div>
</body>
</html>
