<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form th:action="@{~/sepeda/save}" method="post">

    <label>Id</label><br>
    <input type="text" id="id" name="id"><br>

    <label>Kode</label><br>
    <input type="text" id="kode" name="kode"><br>

    <label>Name</label><br>
    <input type="text" id="name" name="name"><br>

    <label>Merk</label><br>
    <input type="text" id="merk" name="merk"><br>

    <label>Plat Nomer</label><br>
    <input type="text" id="platNomor" name="platNomor"><br>

    <label>Bahan Bakar</label><br>
    <input type="text" id="bahanBakar" name="bahanBakar"><br>

    <label>Cc</label><br>
    <input type="text" id="cc" name="cc"><br>

    <label>Warna</label><br>
    <input type="text" id="warna" name="warna"><br>

    <label>Harga</label><br>
    <input type="text" id="harga" name="harga"><br>

    <label>Stock</label><br>
    <input type="text" id="stock" name="stock"><br>

    <button type="submit">simpan</button>
</form>

</body>
</html>